$main-color: #5e1311;
$font-primery-color: #777777;
$font-secondry-color: #292929;
$font-placeholder-color: #939393;
$font-family-primery: muli;
$bg-primary-color: #ffffff;
$bg-secondry-color: #ffffff;
$border-color: #b3b3b3;
$shadow-primary: 0 2px 16px 0 rgba(0, 0, 0, 0.1);
